@import "~@fluentui/react/dist/sass/References.scss";

.notificationWarring {
  font-size: 14px;
  text-align: left;
  white-space: pre-wrap;
  padding: 20px;
}

.welcome {
  text-align: center;
  word-wrap: break-word; /* Break long words */
  overflow: hidden; /* Hide overflow if any */
}

.mainWelcomeTitle {
  margin-top: 2em;
  font-weight: bold;
  font-size: 26px;
}

.mainEmployeeTitle {
  color: black;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.welcomeMessage {
  text-align: center;
  white-space: pre-wrap;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: -1rem;
  padding: 30px;
}

.mainImportantlogoes {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 15px;
  padding: 50px;
  margin: 0px 2rem 0px 2rem;
  list-style: none;
}

.mainImportantlogoes li {
  text-align: center;
}

.mainImportantlogoes img {
  max-width: 100%;
  height: auto;
}

.mainImportantlogoes a {
  display: block;
  text-decoration: none;
  color: #424242;
  font-size: 11px; /* Added this line */
}

.mainImportantlogoes a:hover {
  text-decoration: underline;
}
